<body>
<form action="/movies/{{_id}}/delete" method="post">
  <label> Title:
    <input type="text" name="title" value="{{title}}"/>
  </label>
  <button type="submit"> Delete </button>
  <a href="">Go back</a>
</form>  
</body>
