    <body>
  <h2>Title</h2>
    <form action="/movies/create" method="post">
        <label> Title:
            <input type="text" name="title" />
        </label>
        <label> Genre:
            <input type="text" name="genre" />
        </label>
        <label> Plot:
            <input type="text" name="plot" />
        </label>
        <button type="submit">Submit</button>
    </form>        
    </body>
